<template name="instructorApply">
  <form class="general-form">
    <div class="form-group">
      <div>
        <input name="status" id="status" type="hidden" value="Applicant" placeholder="Applicant" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <div>
        <input name="type" id="type" type="hidden" value="Volunteer Instructor" placeholder="Volunteer Instructor" class="form-control"/>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label class="control-label" for="first_name">First Name</label>
      <div>
        <input name="first_name" id="first_name" type="text" value="" placeholder="First Name" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="last_name">Last Name</label>
      <div>
        <input name="last_name" id="last_name" type="text" value="" placeholder="Last Name" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="dob">Date of Birth</label>
      <div>
        <input name="dob" id="dob" type="date" value="" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="email">Email</label>
      <div>
        <input name="email" id="email" type="text" value="" placeholder="Email" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="phone">Phone</label>
      <div>
        <input name="phone" id="phone" type="text" value="" placeholder="Phone" class="form-control"/>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label class="control-label" for="employer">Employer</label>
      <div>
        <input name="employer" id="employer" type="text" value="" placeholder="Employer" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="position">Position</label>
      <div>
        <input name="position" id="position" type="text" value="" placeholder="Position" class="form-control"/>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label class="control-label" for="about">Tell Us A Little About Yourself</label>
      <div class="controls">
        <textarea name="about" rows="10" cols="60">

        </textarea>
      </div>
    </div>    
    <hr>
    <div class="form-group">
      <label class="control-label" for="experience">Tell Us About Your Tech Experience (please be detailed)</label>
      <div class="controls">
        <textarea name="experience" rows="10" cols="60">

        </textarea>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label class="control-label" for="reason">Why Do You Want To Volunteer With Coded by Kids?</label>
      <div class="controls">
        <textarea name="reason" rows="10" cols="60">

        </textarea>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label class="control-label" for="address1">Address</label>
      <div>
        <input name="address1" id="address1" type="text" value="" placeholder="Address" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="address2"></label>
      <div>
        <input name="address2" id="address2" type="text" value="" placeholder="Address" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="city">City</label>
      <div>
        <input name="city" id="city" type="text" value="" placeholder="City" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="state">State</label>
      <div>
        <input name="state" id="state" type="text" value="" placeholder="State" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="zip">Zip</label>
      <div>
        <input name="zip" id="zip" type="zip" value="" placeholder="Zip" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="country">Country</label>
      <div>
        <select name="country" id="country">
          <option value="United States">United States</option>
        </select>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
  <hr>
</template>
