<template name="management">
    <div class="col-md-4">
        <div class="well dashboard">
            <h2 class="dash-num">{{studentsCountAct}}</h2>
            <h4>Active Students</h4>
        </div>
        <hr>
        <div class="well dashboard">
            <h2 class="dash-num">{{studentsCountAllApplicant}}</h2>
            <h4>Program Applicants</h4>
        </div>
        <hr>
        <div class="well dashboard">
            <h2 class="dash-num">{{instructorsCount}}</h2>
            <h4>Active Instructors</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well dashboard">
            <h2 class="dash-num">{{studentsCountChildAct}}</h2>
            <h4>Active Weekly Youth Students</h4>
        </div>
        <hr>
        <div class="well dashboard">
            <h2 class="dash-num">{{studentsCountKidsApplicant}}</h2>
            <h4>Youth Applicants</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well dashboard">
            <h2 class="dash-num">{{studentsCountAdultAct}}</h2>
            <h4>Total Active Adult Students</h4>
        </div>
        <hr>
        <div class="well dashboard">
            <h2 class="dash-num">{{studentsCountAdultApplicant}}</h2>
            <h4>Total Adult Applicants</h4>
        </div>
    </div>
</template>