<template name="register">
    <form class="main form page">
      <div class="form-group">
        <label class="control-label" for="registerEmail">Email</label>
        <div class="controls">
          <input name="registerEmail" id="registerEmail" type="email" >
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="registerPassword">Password</label>
        <div class="controls">
          <input name="registerPassword" id="registerPassword" type="password" >
        </div>
      </div>
        <input type="submit" value="Register">
    </form>
</template>