<template name="inforequestConfirm">
  <header class="header">
    <div class="container">
      <nav>
        <ul class="main_menu">
          <a href="index.html" class="logo"><img src="logo.png" alt="logo" width="140"></a>
          <li class="cbu"> <a href="#about">About Us</a>  </li>
          <li class="cbu"> <a href="#our-classes">Our Classes</a>  </li>
          <li class="cbu"> <a href="#get-involved">Get Involved</a>  </li>
          <li class="cbu"> <a href="#">Contact Us</a>  </li>
          <li class="cbu"> <a href="#">Apply</a>  </li>
        </ul>
      </nav><!-- End Navigation -->
    </div>
  </header>
  <div class="span">
  </div>
      <br>
      <br>
      <br>
  <div class="span">
  </div>
  <div>
    <h1>Thank You</h1>
    <h2>Your information has been submitted.</h2>
  </div>
</template>