<template name="inforequestConfirm">
  <header class="header">
    <div class="container">
      <nav>
        <ul class="main_menu">
          <a href="http://codedbyu.com/" class="logo"><img src="logo.png" alt="logo" width="140"></a>
          <li class="cbu"> <a href="http://codedbyu.com/#about">About Us</a>  </li>
          <li class="cbu"> <a href="http://codedbyu.com/#our-classes">Our Classes</a>  </li>
          <li class="cbu"> <a href="http://codedbyu.com/#get-involved">Get Involved</a>  </li>
          <li class="cbu"> <a href="{{pathFor 'inforequestSubmit'}}">Contact Us</a>  </li>
          <li class="cbu"> <a href="{{pathFor 'applicantSubmit'}}">Apply</a>  </li>
        </ul>
      </nav><!-- End Navigation -->
    </div>
  </header>
      <br>
      <br>
      <br>
  <div>
    <h1>Thank You</h1>
    <h2>Your information has been submitted.</h2>
  </div>
</template>