<template name="inforequestSubmit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="" placeholder="Your Name" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
          <input name="email" id="email" type="email" value="" placeholder="Your Email Address" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="subject">Subject</label>
      <div class="controls">
          <input name="subject" id="subject" type="text" value="" placeholder="Your Subject" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="message">Message</label>
      <div class="controls">
        <textarea name="message" rows="10" cols="60">

        </textarea>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>