<template name="studentEnrolled">
  <div class="row">
    <div class="col-md-12">
      <h2>Thank You for registering your child in the Coded by Kids weekly web development classes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Please print, read, sign and bring to your child's first class the Parent and Student Handbook that can be accessed at the link below:</h3>
      <a href="https://drive.google.com/file/d/0Bz3F8ctmiDRJRllldGJnWDdZcHM/view?usp=sharing">Parent and Student Handbook</a>
    </div>
  </div>
</template>