<template name="studentDetails">
  <div class="student">
    <div class="student-content">
      <h2>{{first_name}} {{last_name}}</h2>
      <br>
      <h4>Level: {{level}}</h4>
      <h4>Program: {{program}}</h4> 
      <h4>Student Type: {{type}}</h4>      
      <br>
      <h4>Number of projects: {{projectsCount}}</h4>
      <br>
      <h5>Date of Birth: {{dob}}</h5> 
      <h5>Registration Packet Received: {{reg_packet}}</h5>
      <br>
      <h5>Elementary School: {{elm_school}}</h5>
      <h5>High School: {{high_school}}</h5>
      <br>
    </div>
  </div>
</template>