<template name="header">
  {{#if currentUser}}<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div calss="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>          
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">Coded by Kids LMS</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}<li><a href="{{pathFor 'studentSubmit'}}">Submit Student</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'studentList'}}">Student List</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'inforequestsList'}}">Info Request List</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'inforequestSubmit'}}">Submit Info Request</a></li>{{/if}}
          {{#if currentUser}}<li><a href="#" class="logout">Logout</a></li>{{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          
        </ul>
      </div>
    </div>
  </nav>{{/if}}
</template>