<template name="side">
{{#if currentUser}}<div class="container-fluid">
            <!-- Left column -->
    <ul class="nav nav-stacked">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu"><i class="glyphicon glyphicon-user"></i> Students <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="userMenu">
                {{#if currentUser}}<li><a href="{{pathFor 'inforequestsList'}}"> Info Requests</a></li>{{/if}}
                {{#if currentUser}}<li><a href="{{pathFor 'studentList'}}"> Student List</a></li>{{/if}}
                {{#if currentUser}}<li><a href="{{pathFor 'studentSubmit'}}"> Submit Student</a></li>{{/if}}
            </ul>
        </li>
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2"><i class="glyphicon glyphicon-education"></i> Instructors <i class="glyphicon glyphicon-chevron-down"></i></a>

            <ul class="nav nav-stacked collapse" id="menu2">
                {{#if currentUser}}<li><a href="{{pathFor 'instructorList'}}"> Instructor List</a></li>{{/if}}
                {{#if currentUser}}<li><a href="{{pathFor 'instructorSubmit'}}"> Submit Instructor</a></li>{{/if}}
            </ul>
        </li>
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu3"><i class="glyphicon glyphicon-stats"></i> Reports <i class="glyphicon glyphicon-chevron-down"></i></a>

            <ul class="nav nav-stacked collapse" id="menu3">
                <li><a href="#">Class Stats</a>
                </li>
                <li><a href="#">Student Stats</a>
                </li>
                <li><a href="#">Instructor Stats</a>
                </li>
            </ul>
        </li>
    </ul>


    <hr>
<!-- /col-3 -->

<!--/col-span-9-->
</div>{{/if}}
</template>